In [1]:
import pandas as pd
import numpy as np

In [5]:
filename = 'datos_data_engineer.tsv'
path = ''

In [15]:
df = pd.read_csv(filename, sep='\t', encoding='utf-16le')

In [16]:
df

,id,first_name,last_name,account_number,email
0,1,Addison,Marks,196296,ornare.lectus@et.edu
1,2,Dakota,Garza,409025,scelerisque@Praesentluctus.edu
2,3,Basia,Wolfe,637720,Aliquam@nullaIntegerurna.com
3,4,Germaine,Campbell,826846,id.magna@viverraMaecenas.ca
4,5,Lenore,Pennington,345284,aliquam@Integer.edu
...,...,...,...,...,...
1002,996,Kirestin,Potts,653131,in@accumsan.co.uk
1003,997,Kristen,Stout,628705,tempus@Loremipsumdolor.edu
1004,998,Daniel,Snider,535804,porttitor.tellus.non@maurisMorbinon.com
1005,999,Simone,Mcleod,407847,et.risus@consectetuereuismod.ca
1006,1000,Hermione,Morales,478506,eu.nulla@Donec.com

In [19]:
df.isna().sum()

id                 3
first_name        13
last_name         14
account_number    10
email             13
dtype: int64